.ainn {
  font-weight: bold;
}

.main-vw {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, solid, #ffc700 40%, #fff);
}

.preto {
  color: #000;
}
.card {
  border: none;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 1);
}
a {
  color: #000 !important;
}
.btn-ama {
  background-color: #ffc700;
  color: #000;
}
.form {
  margin-top: 10%;
}
.logo {
  width: 30%;
}
a {
  color: blue !important;
}

.icon-logo {
  width: 16%;
}
a {
  color: #000 !important;
  text-decoration: none !important;
}
.tab {
  display: none;
}

.relative-input {
  position: relative;
}

.olho {
  cursor: pointer;
  right: 0;
  position: absolute;
  width: 29px;
}

.aaa {
  border: none;
}

.btn-cinza {
  background-color: #eee;
}
